*{
    margin:0px;
    padding: 0px;
}


#delivery-boy{
margin-left: 300px;
}
#pic45[
  margin-left:500px;
]

.he{
  align-items: center;
}

.nav1{
align-items:center;
padding:20px;
margin-bottom:30px;
color:white;
}
.footer-1{
  text-align: center;
  height: 10px;
}